html {
  font-size: 16px;
}

body {
  font-size: 1rem; /* 16px */
}

h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2rem; /* 32px */
}

p {
  font-size: 1rem; /* 16px */
}

/* nav section */
.navbar {
  padding: 0 2em;
  width: 100vw;
  position: fixed;
  z-index: 3;
}

.navbar-brand,
.nav-link,
.text-section p {
  font-size: 1.5rem;
}

.animated-icon1 {
  width: 24px;
  height: 30px;
  top: 4px;
  position: relative;
  margin: 0px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.first-button.open .animated-icon1 span:nth-child(1) {
  top: 11px;
  transform: rotate(135deg);
}

.first-button.open .animated-icon1 span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.first-button.open .animated-icon1 span:nth-child(3) {
  top: 11px;
  transform: rotate(-135deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* landing page */
.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: calc(
    100vh - 60px
  ); /* Subtract the height of the navbar from the viewport height */
  padding-top: 60px; /* Match the height of the fixed navbar */
  align-items: center;
  justify-content: center;
  height: 100vh; /* Container takes half the viewport height */
  overflow: hidden;
  margin: 0 auto; /* Center the container horizontally */
  width: 100%; /* Ensure the container takes full width */
  max-width: 100%; /* Prevent overflow */
}

.slideshow {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  position: relative;
  flex: 1;
  height: 100%; /* Slideshow takes full height of the container */
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: none;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  border-radius: 10px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: rgba(149, 161, 172, 0.5);
  color: rgb(162, 124, 124);
  font-weight: bold;
  font-size: 1.5rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Text section styling */
.text-section {
  flex: 1;
}

.text-section h2 {
  margin-bottom: 10px;
}

img {
  z-index: 2;
  display: block;
}

/* gallery section  */

.parent {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* grid-column-gap: 0px;
  grid-row-gap: 0px; */
  gap: 5px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 3 / 3;
}
.div3 {
  grid-area: 1 / 3 / 4 / 4;
}
.div4 {
  grid-area: 2 / 1 / 4 / 2;
}
.div5 {
  grid-area: 3 / 2 / 5 / 3;
}
.div6 {
  grid-area: 4 / 3 / 6 / 4;
}
.div7 {
  grid-area: 4 / 1 / 6 / 2;
}
.div8 {
  grid-area: 5 / 2 / 7 / 3;
}
.div9 {
  grid-area: 6 / 3 / 8 / 4;
}
.div10 {
  grid-area: 6 / 1 / 8 / 2;
}
.div11 {
  grid-area: 7 / 2 / 9 / 3;
}
.div12 {
  grid-area: 8 / 3 / 9 / 4;
}
.div13 {
  grid-area: 8 / 3 / 10 / 4;
}
.div14 {
  grid-area: 8 / 1 / 11 / 2;
}
.div15 {
  grid-area: 9 / 2 / 11 / 3;
}
.div16 {
  grid-area: 10 / 3 / 11 / 4;
}

.parent > div img {
  width: 100%;
  height: 100%; /* The image takes up the full height of the div */
  display: block; /*Removes any inline space around the image*/
  object-fit: cover;
  /*   object-position: 50% 100%; */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.button a {
  color: white;
  background-color: #000;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
}

.button a:hover {
  background-color: #c85205;
}

/* prefooter */
.pre-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  background-color: #233233;
  font-weight: 600;
  color: whitesmoke;
  padding: 1rem;
}

.insta {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fa-brands {
  color: #c85205;
  font-size: 2rem;
}

.insta a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.portfolio > div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.portfolio > div > p {
  font-size: 1.2rem;
}

/* footer */
.footer {
  color: white;
  background-color: #000;
}

.footer p {
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

span {
  color: #c85205;
}

.footer-logo {
  background-color: #c85205;
  padding: 0.7rem 0.5rem;
  border-radius: 100%;
}

/* Responsive design for mobile view */
@media (max-width: 768px) {
  .div3,
  .div6,
  .div9,
  .div12,
  .div13,
  .div16 {
    display: none;
  }

  .navbar {
    padding: 0.5rem;
  }

  .navbar-brand,
  .nav-link,
  .text-section p {
    font-size: 1rem;
  }

  .parent {
    grid-template-columns: repeat(2, 1fr);
  }

  .container,
  .pre-footer {
    flex-direction: column;
  }

  .slideshow {
    height: auto; /* Adjust height on mobile */
  }

  .pre-footer > div {
    font-size: 2rem;
  }

  .portfolio > p {
    font-size: 1rem;
  }

  .pre-footer > div:last-child {
    gap: 1rem;
  }

  .footer p {
    font-size: 0.5rem;
  }

  .fa-brands {
    font-size: 1.2rem;
  }

  .insta a {
    font-size: 0.7rem;
  }

  .portfolio {
    gap: 0.5rem;
  }

  .portfolio > div > p {
    font-size: 0.7rem;
  }
}
